---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.title }}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3 }}px, (min-width: 576px) 30vw, 95vw{% endcapture %}
          <img class="{{ profile_image_class }}" src="{{ profile_image_path | relative_url }}" alt="{{ site.title }}">
        {% endif %}
        <div class="social">
          <div class="contact-notes">
            <a href="mailto:zhifei.li@berkeley.edu" title="email">Email</a> |
            <a href="https://github.com/andylizf" title="GitHub">GitHub</a> |
            <a href="https://www.linkedin.com/in/andylizf" title="LinkedIn">LinkedIn</a> |
            <a href="/assets/pdf/cv.pdf" title="CV">CV</a>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a></h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Publications -->
    {% if page.selected_papers %}
      <h2>Publications</h2>
      <hr style="margin-top: 2px; margin-bottom: 2px;">
      <p style="margin-top: 2px;"><em>* means equal contribution</em></p>
      <div class="publications">
        {% bibliography --query @*[selected=true] %}
      </div>
    {% endif %}

  </article>
</div>